:root {
  --main-font: 'Roboto', sans-serif;
  --blue-color: #2196f3;
  --black-grey-color: #212121;
  --white-color: #ffffff;
  --grey-color: #757575;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */

.header {
  background: var(--white-color);
  padding: 24px 0px 25px 0px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--black-grey-color);
  display: flex;
  justify-content: space-between;
}

.header-logo-site {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  cursor: default;
  margin-right: 93px;
}

.header-logo-apart-site {
  color: var(--blue-color);
}

.header-nav-button {
  position: relative;
  transition: color var(--duration) var(--timing-function);
}

.header-nav-button:hover {
  color: var(--blue-color);
  cursor: pointer;
}

.current .header-nav-button a {
  transition: color var(--duration) var(--timing-function);
}

.header-nav-button a:focus {
  color: var(--blue-color);
}

.header-nav-button:not(last-shild) {
  margin-right: 50px;
}

.current {
  color: var(--blue-color);
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -33px;
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
  animation: line-in-header var(--duration) var(--timing-function);
}

.header-contacts-items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  display: flex;
}

.header-contacts-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-contacts-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--duration) var(--timing-function);
}

.header-contacts-button a:focus {
  color: var(--blue-color);
}

.header-contacts-button:hover {
  color: var(--blue-color);
  cursor: pointer;
}

.header-contacts-mail,
.header-contacts-phone {
  --header-color: currentColor;
}

.header-contacts-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.header-contacts-phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  display: flex;
  align-items: center;
}

.header-contacts-button:not(:last-child) {
  margin-right: 50px;
}

/* Footer */

.footer {
  background: #2f303a;
  padding: 60px 0 60px 0;
  display: flex;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer-logo-site {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-logo-apart-site {
  color: var(--blue-color);
}

.footer-address-li {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer-logo-site,
.footer-address,
.footer-contacts {
  font-style: normal;
  cursor: default;
}

.footer-container-media {
  margin-right: -10px;
  padding-left: 70px;
  padding-bottom: 40px;
}

.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-container-icons {
  display: flex;
}

.footer-item {
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--duration) var(--timing-function);
}

.footer-item:focus,
.footer-item:hover {
  background-color: var(--blue-color);
}

.footer-icons {
  width: 20px;
  height: 20px;
  fill: white;
}

/* INDEX.html */
/* One section */

.one-section {
  background: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  padding: 200px 0px 200px 0px;
  margin: 0 auto;
}

.container-one-section {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.one-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

pre {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.one-section-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px 10px 32px;
  border: none;
}

.one-section-button-content {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

/* Two section */

.two-section {
  padding: 94px 0 94px 0;
}

.two-section-items {
  display: flex;
  justify-content: space-between;
}

.two-section-items-li {
  width: 270px;
}

.two-section-a {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-section-icon {
  width: 70px;
  height: 70px;
}

.two-section-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-grey-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.two-section-text:not(:last-child) {
  margin-right: 30px;
}

.two-section-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

/* Three section */

.three-section {
  padding-bottom: 94px;
}

.three-four-sections-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-grey-color);
  margin-bottom: 50px;
}

.three-section-items {
  display: flex;
}

.three-section-items-li:not(:last-child) {
  margin-right: 30px;
}

.three-section-items-li {
  position: relative;
}

.three-section-items-li-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4px;
  left: 0;
}

/* Four section */

.four-section {
  background: #f5f4fa;
  padding: 94px 0 94px 0;
}

.three-four-sections-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-grey-color);
}

.four-section-items {
  display: flex;
}

.four-section-items-li:not(:last-child) {
  margin-right: 30px;
}

.four-section-items-li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.four-section-name-and-position {
  padding-top: 30px;
}

.four-section-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-grey-color);
  margin-bottom: 10px;
}

.four-section-position {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.four-container-icons {
  margin-top: 16px;
  padding: 0 32px 30px 32px;
  display: flex;
  margin-right: -10px;
}

.four-section-a {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: background-color var(--duration) var(--timing-function),
    border-radius var(--duration) var(--timing-function),
    var(--four-icons) var(--duration) var(--timing-function);
}

.four-section-a:focus,
.four-section-a:hover {
  background-color: var(--blue-color);
  border-radius: 50% 50%;
  --four-icons: white;
  cursor: pointer;
}

.four-section-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/* Five section */

.five-section {
  padding: 94px 0;
}

.five-section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-grey-color);
  margin-bottom: 50px;
}

.five-section-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.five-section-a {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border var(--duration) var(--timing-function),
    var(--five-icons) var(--duration) var(--timing-function);
}

.five-section-a:hover,
.five-section-a:focus {
  border: 1px solid var(--blue-color);
  --five-icons: var(--blue-color);
}

.five-section-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--duration) var(--timing-function);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: var(--white-color);
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--duration) var(--timing-function);
}

.modal-button-close {
  width: 30px;
  height: 30px;
  border-radius: 50% 50%;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  border: 1px solid rgba(114, 42, 42, 0.1);
  background: inherit;
}

.modal-cross-close {
  width: 11px;
  height: 11px;
}

/* PORTFOLIO.html */
/* Section */

.portfolio-section {
  padding: 94px 0 94px 0;
}

/* One ul */

.portfolio-section-one-items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-section-button-margin {
  margin-right: 8px;
}

.portfolio-section-button {
  font-family: inherit;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-grey-color);
  padding: 6px 22px 6px 22px;
  border: none;
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    border-radius var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.portfolio-section-button:hover,
.portfolio-section-button:focus {
  color: white;
  background-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Two ul */

.portfolio-section-two-items {
  display: flex;
  flex-flow: wrap;
}

.portfolio-section-two-li {
  background: white;
  margin-right: 30px;
  cursor: pointer;
  transition: box-shadow var(--duration) var(--timing-function);
}

.portfolio-section-two-li:hover,
.portfolio-section-two-li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-section-two-items > .portfolio-section-two-li:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio-section-two-li:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-section-container-image-and-text {
  position: relative;
  overflow: hidden;
}

.portfolio-section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
}

.portfolio-section-two-li:hover .portfolio-section-overlay,
.portfolio-section-two-li:focus .portfolio-section-overlay {
  transform: translateY(0);
}

.portfolio-section-text-after-image {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.portfolio-section-title-and-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-section-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-grey-color);
  margin-bottom: 4px;
}

.portfolio-section-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

/* Animation */

@keyframes line-in-header {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
